.background {
	background: linear-gradient(45deg, rgba(252,204,99,1) 0%, rgba(251,173,80,1) 12%, rgba(233,89,80,1) 27%, rgba(205,72,107,1) 45%, rgba(188,42,141,1) 63%, rgba(138,58,185,1) 80%, rgba(76,104,215,1) 100%);
	height: 100vh;
	.horizontal {
		display: flex;
		text-align: center;
		height: 100%;
		.vertical {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.logo {
				width: 75%;
				margin: 0 auto;
			}
		}
	}
}